<ul id="tab_area" class="tabNavi">
	<li>
		<a href="#tab-1" class="selected"> <img src="http://cosplay-fuzoku.net/img/tab01.gif" alt="コスプレ風俗ネット | 東京エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li>
		<a href="#tab-2"> <img src="http://cosplay-fuzoku.net/img/tab02.gif" alt="コスプレ風俗ネット | 大阪エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li>
		<a href="#tab-3"> <img src="http://cosplay-fuzoku.net/img/tab03.gif" alt="コスプレ風俗ネット | 神奈川エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li>
		<a href="#tab-4"> <img src="http://cosplay-fuzoku.net/img/tab04.gif" alt="コスプレ風俗ネット | 埼玉エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li>
		<a href="#tab-5"> <img src="http://cosplay-fuzoku.net/img/tab05.gif" alt="コスプレ風俗ネット | 千葉エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li>
		<a href="#tab-6"> <img src="http://cosplay-fuzoku.net/img/tab06.gif" alt="コスプレ風俗ネット | 福岡エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li>
		<a href="#tab-7"><img src="http://cosplay-fuzoku.net/img/tab07.gif" alt="コスプレ風俗ネット | 愛知エリア検索結果" width="83px" height="27px" /></a>
	</li>
	<li class="fin">
		<a href="#tab-8"><img src="http://cosplay-fuzoku.net/img/tab08.gif" alt="コスプレ風俗ネット | 兵庫エリア検索結果" width="82px" height="27px" /></a>
	</li>
</ul>
<div class="tab_frame_t"></div>
<div class="tab_frame_m">
	<div id="tabContainer">
		<div id="tab-1">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_tokyo.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				東京エリアの検索結果の続きは<a href="/search/tokyo/">こちら</a>
			</div>
		</div>
		<div id="tab-2" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_osaka.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				大阪エリアの検索結果の続きは<a href="/search/osaka/">こちら</a>
			</div>
		</div>
		<div id="tab-3" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="tete">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_kanagawa.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				神奈川エリアの検索結果の続きは<a href="/search/kanagawa/">こちら</a>
			</div>
		</div>
		<div id="tab-4" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_saitama.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				埼玉エリアの検索結果の続きは<a href="/search/saitama/">こちら</a>
			</div>
		</div>
		<div id="tab-5" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_chiba.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				千葉エリアの検索結果の続きは<a href="/search/chiba/">こちら</a>
			</div>
		</div>
		<div id="tab-6" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_fukuoka.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				福岡エリアの検索結果の続きは<a href="/search/fukuoka/">こちら</a>
			</div>
		</div>
		<div id="tab-7" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_aichi.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				愛知エリアの検索結果の続きは<a href="/search/aichi/">こちら</a>
			</div>
		</div>
		<div id="tab-8" style="display:none">
			<ol>
				<li class="shop_search_list">
					<div class="layer">
						<h6 class="title"><a href="/pr/">この場所に広告を掲載しませんか？</a></h6>
						<div class="picture">
							<a href="/pr/"> <img src="http://cosplay-fuzoku.net/img/search_list_picture.gif" alt="コスプレ風俗ネット | 優良店" width="94px" height="94px" /></a>
						</div>
						<div class="text">
							各地域の検索結果の一番上に、優良店として紹介します
							<br/>
							動機付けが明確なユーザのアクセスを獲得します
						</div>
						<div class="inner_play_frame_t"></div>
						<div class="inner_play_frame_m">
							<div class="desc">
								<span class="bold">可能プレイ：</span>例）口内発射/69/AF/Dキス/アイマスク/アナル舐め/オナニー/オナニー鑑賞/オールヌード/コスチューム/コスプレ/ごっくん
							</div>
						</div>
						<div class="inner_play_frame_b"></div>
						<div class="good_icon">
							<img src="http://cosplay-fuzoku.net/img/yuryouten_icon.gif" alt="コスプレ風俗ネット | 優良店" width="121px" height="39px" />
						</div>
						<div class="shop_info">
							<span class="bold">予算：</span>例)\8,000?
							<br/>
							<span class="bold">地域：</span>例)五反田
							<br/>
							<a href="/pr/">>>詳細はこちら</a>
						</div>
					</div>
				</li>
			</ol>
			<table class="sheet innertab">
				<tr>
					<th style="width:150px">店名</th>
					<th style="width:50px">地域</th>
					<th style="width:70px">最低予算</th>
					<th>住所</th>
				</tr>
				<% @shop_infos_hyogo.each do |shop_info| %>
				<tr>
					<td><h6 class="title"><a href="/shop/<%= shop_info.id %>"><%= shop_info.name %> </a></h6></td>
					<td><%= shop_info.area_name %></td>
					<td>¥<%= shop_info.price %>～</td>
					<td><%= shop_info.address %> </td>
				</tr>
				<% end %>
			</table>
			<div class="next_search">
				兵庫エリアの検索結果の続きは<a href="/search/hyogo/">こちら</a>
			</div>
		</div>
	</div>
</div>
