<!DOCTYPE html>
<html>
	<head>
		<title>コスプレ風俗NET - TOPページ|コスプレ風俗のお店探しなら</title>
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="Description" content="コスプレ風俗のお店探しなら、コスプレ風俗NET。全国のコスプレプレイが出来る風俗店舗を集めました。コスプレ風俗NET" />
		<meta name="Keywords" content="コスプレ 風俗,コスプレ,風俗" />
		<%= stylesheet_link_tag 'contact' ,:media=>'screen' %>
		<%= stylesheet_link_tag 'base' ,:media=>'screen' %>
		<%= javascript_include_tag "jquery-1.4.2.min" %>
		<%= csrf_meta_tag %>
		<%= render 'common/google_analytics' %>
	</head>
	<body>
		<%= render 'common/header' %>
		<div id="wrapper">
			<section>
				<%= yield %>
			</section>
			<div id="sidebar">
				<%= render 'common/sidebar_menu' %>
			</div>
		</div>
		<%= render 'common/footer' %>
	</body>
</html>
